.tools > div > button, .tools > div > div > button, .tools > div > div > input {
  padding: 0.1em 0.6em 0.1em 0.6em;
}

.top-row > button {
  text-transform: lowercase;
  margin: 0 0.25em 0.25em 0;
}

.top-row .presets {
  text-transform: lowercase;
  margin: 0 0.25em 0.25em 0 !important;
  font-size: 16px !important;
  padding: 0.1em 0.6em 0.1em 0.6em;
}

.top-row .num-nodes {
  width: 4.5em;
  text-transform: lowercase;
  padding-left: 0.4em !important;
  padding: 0.1em 0.6em 0.1em 0.6em;
  margin: 0 0.25em 0.25em 0;
  display: inline;
}

.bottom-row {
  display: flex;
  gap: 0.25em;
}

@media (max-width: 700px) {
  .bottom-row {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .bottom-row {
    display: inline-block;
  }

  .bottom-row > div {
    display: inline-block;
  }

  .bottom-row > div:first-child {
    margin-right: 0.25em;
  }
}

.bottom-row .icon {
  font-size: 16px;
}

.bottom-row .start {
  width: 3em;
  text-transform: lowercase;
}

.bottom-row .search {
  width: 7em;
  text-transform: lowercase;
}

.tools .error {
  height: 1em;
  display: block;
}
