.tools > div > button, .tools > div > div > input {
  padding: 0.1em 0.6em 0.1em 0.6em;
}

.top-row > button {
  text-transform: lowercase;
  margin: 0 0.25em 0.25em 0;
}

.bottom-row {
  display: flex;
  gap: 0.25em;
}

@media (max-width: 700px) {
  .bottom-row {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .bottom-row {
    flex-direction: row;
  }
}

.bottom-row .icon {
  font-size: 16px;
}

.bottom-row .start {
  width: 3em;
  text-transform: lowercase;
}

.bottom-row .search {
  width: 7em;
  text-transform: lowercase;
}

.tools .error {
  height: 1em;
  display: block;
}
