.graph-container {
  border: 1px solid var(--color-text-light);
  border-radius: 15px;
  height: 50vh;
}

.graph-container .graph {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.graph-container .graph > div {
  border-radius: 15px;
}
