/* Global Stylings */
:root {
  --color-1-light: rgba(0, 168, 255);
  --color-1-light-33: rgba(0, 168, 255, 0.33);
  --color-text-light: rgba(47, 54, 64, 1.0);
}
/**/

.content {
  margin-top: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}
