/* Global Stylings */
:root {
  /* light mode */
  --color-1-light: rgba(0, 168, 255);
  --color-1-light-33: rgba(0, 168, 255, 0.33);
  --color-2-light: rgba(245, 246, 250, 1.0);
  --color-text-light: rgba(47, 54, 64, 1.0);
  --color-error-light: rgba(194, 54, 22, 1.0);
  --color-success-light: rgba(68, 189, 50, 1.0);
  /* dark mode */
  --color-1-dark: rgba(0, 168, 255);
  --color-1-dark-33: rgba(0, 168, 255, 0.33);
  --color-2-dark: rgba(47, 54, 64, 1.0);
  --color-text-dark: rgba(245, 246, 250, 1.0);
  --color-error-dark: rgba(194, 54, 22, 1.0);
  --color-success-dark: rgba(68, 189, 50, 1.0);
}

.content {
  margin-top: 65px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plainLink {
  text-decoration: none;
  color: inherit;
}

.plainLink:hover {
  cursor: pointer;
  color: var(--color-1-light);
}

.heading {
  font-size: 1.35em;
}

.button, .button:disabled {
  background-color: var(--color-2-light);
  color: var(--color-text-light);
  border: 1px solid var(--color-text-light);
  border-radius: 15px;
}

.button:hover, .button:active, .button:focus {
  background-color: var(--color-2-dark) !important;
  color: var(--color-text-dark);
  border: 1px solid var(--color-text-light) !important;
  outline: none !important;
  box-shadow: none !important;
}

.button:disabled {

}

.error {
  color: var(--color-error-light);
}

.success {
  color: var(--color-success-light);
}

.input-icon {
  background-color: var(--color-2-light);
  color: var(--color-text-light);
  border: 1px solid var(--color-text-light);
  border-radius: 15px;
  border-right: 0;
  width: 2em;
  text-align: center;
}

.input-w-text {
  background-color: var(--color-2-light);
  color: var(--color-text-light);
  border: 1px solid var(--color-text-light);
  border-radius: 15px;
  padding: 0 0 0 0;
  border-left: none;
  padding-left: 0 !important;
  flex: none !important; /* overwrite bootstrap default */
}

.input-w-text:hover, .input-w-text:active, .input-w-text:focus {
  background-color: var(--color-2-light);
  border: 1px solid var(--color-text-light);
  border-left: 0;
  outline: none;
  box-shadow: none;
}

/* overwrite width:100% from bootstrap */
.input-group {
  width: inherit;
}
